asgiref==3.12.1
bleach==6.4.0
boto3==1.43.89
botocore==1.43.89
dj-database-url==3.1.2
Django==6.1
django-storages==1.14.6
django-summernote==0.8.20.0
dotenv==0.9.9
jmespath==1.1.0
Markdown==3.10.3
pillow==12.3.0
psycopg2-binary==2.9.12
pypdf==6.19.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.3
python-magic==0.4.27
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
urllib3==2.7.0
webencodings==0.6.1
